node_modules
.DS_Store
dist
.cache


.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
admin/public/amis/App.js
admin/public/amis/App.js.map
admin/public/amis/editor.html
admin/public/amis/index.html
admin/public/amis/index.js
admin/public/amis/index.js.map
admin/public/amis/loadMonacoEditor.js
admin/public/amis/loadMonacoEditor.js.map
admin/public/amis/mod.js
admin/public/amis/schema.json
admin/public/amis/component/AddPageModal.js
admin/public/amis/component/AddPageModal.js.map
admin/public/amis/component/AMISRenderer.js
admin/public/amis/component/AMISRenderer.js.map
admin/public/amis/editor/MyRenderer.js
admin/public/amis/editor/MyRenderer.js.map
admin/public/amis/pkg/editor.html_map.js
admin/public/amis/pkg/index.html_map.js
admin/public/amis/pkg/npm.js
admin/public/amis/renderer/MyRenderer.js
admin/public/amis/renderer/MyRenderer.js.map
admin/public/amis/route/Editor.js
admin/public/amis/route/Editor.js.map
admin/public/amis/route/index.js
admin/public/amis/route/index.js.map
admin/public/amis/route/NotFound.js
admin/public/amis/route/NotFound.js.map
admin/public/amis/route/Preview.js
admin/public/amis/route/Preview.js.map
admin/public/amis/scss/style.css
admin/public/amis/scss/style.css.map
admin/public/amis/store/index.js
admin/public/amis/store/index.js.map
admin/public/amis/store/Page.js
admin/public/amis/store/Page.js.map
