.amis-renderer-box {
  // .cxd-Page {
  //   // width: 100%;
  //   height: 100%;
  //   background: var(--Page-main-bg);
  //   margin: 8px;
  // }
  .cxd-ColumnToggler.is-opened .cxd-ColumnToggler-caret {
    transform: rotate(180deg);
    top: -5.5px;
  }

  .cxd-ColumnToggler-caret {
    margin-left: var(--DropDown-caret-marginLeft);
    display: inline-block;
    vertical-align: top;
    transition: transform var(--animation-duration) ease;
    position: relative;
    top: -11px;
    left: 5px;
  }
  .cxd-ColumnToggler > .cxd-Button {
    min-width: 48px;
  }
  .cxd-Button--sm span {
    position: relative;
    top: -12px;
    left: 15px;
    /* margin-left: 10px; */
    margin-right: 15px;
  }

  .cxd-OperationField > .cxd-Button--link span {
    top: 0;
    padding: 0;
    margin-right: 0.625rem;
  }

  //修复curd 字段列表，显示列面板上的 列名称向下偏移问题
  .cxd-ColumnToggler-modal-content
    .cxd-ColumnToggler-menuItem
    > .cxd-Checkbox
    > .cxd-ColumnToggler-menuItem-label
    {
    vertical-align: unset !important;
  } 
  
  //修复curd 字段列表，显示列面板上的 列名排序  文字向下偏移问题
  .cxd-ColumnToggler-menuItem  
   .cxd-ColumnToggler-menuItem-label > span{
      position: relative;
      right: -11px;
      top: -14px;
  }
}
